<div class="header-container">
        <header class = "header">
          		<div>
					<div ng-controller="HeaderTextController as header">
						<a class="logo" href="#home"><img ng-src="img/logo.png" height="20" width="200" alt="logo" title="logo"></a>
					</div>
					<nav class="nav-container" ng-controller="NavbarController as navbar">
						<ul class="navigation">
							<li ng-repeat="link in navbar.links"><a class="scroll" href="{{link.path}}">{{link.title}}</a></li>
						</ul>
					</nav>

          		</div>

          		<div class = "content">
					<div class="content_line" ng-controller="HeaderTextController as header">We're here to create your online presense and style</div>
          		</div>
				<div ng-controller="HeaderTextController as header">
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Suspendisse</p>
					<p class="text">mattis orci dapibus risus dignissim, viverra pellentesque arcu </p>
					<p class="text">ullamcorper. Mauris a tincidunt lectus. Proin nec venenatis quam.</p>
					<a class = "button" href="#"> start today with us </a>
				</div>
    	</header>
    </div>
<section id="products">
  <div class="experience-and-skills" ng-controller="XpSkillsController as XSbar">
    <div class="experience-and-skills-container">
        <div class="experience-and-skills-container_item">
			<div class="experience-and-skills-left">
				<h1 class="experience-and-skills-text">Our Experience</h1>
				<p class="xp-and-skills-main-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
				</p>
				<p class="xp-and-skills-main-text">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
				</p>
				<a class = "button-xp-and-skills" href="#"> START YOU PROJECT </a>
			</div>
			<div class="experience-and-skills-right">
				<div class="skill-bars">
    			<div class="poling">
                    <h3 >Skills</h3>
					<div class="XSbar-block" ng-repeat="linkXS in XSbar.links">
						<div class="poligon">
        			        <div class="poligon_description"> <h4>{{linkXS.desc}}</h4> </div>
        				    <div class="percentage"> <p>{{linkXS.percentage}}</p> </div>
        				    <div class="clearfix"></div>
        			        <div class="skills">
        			              <div style="width:{{linkXS.width}}"> </div>
						    </div>
      				    </div>   
    				</div>
				</div>
				</div>
			</div>
		</div>
    </div>
</div>
</section>